[submodule "modules/fugaz"]
	path = modules/fugaz
	url = https://github.com/jassielof/fugaz.git
[submodule "dependencies/fangz"]
	path = dependencies/fangz
	url = https://github.com/jassielof/fangz
[submodule "dependencies/toml"]
	path = dependencies/toml
	url = https://github.com/jassielof/toml-zig
